<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">List of Anime</h1>
        <ul class="list-group">
            {% for anime in animes %}
                <li class="list-group-item">
                    <a href="{% url 'characters' anime.id %}">{{ anime.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'index' %}" class="btn btn-secondary mt-3">Back to Home</a>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
